---
layout: base.njk
title: O meni
permalink: /o-meni/index.html
---

<main>
  <section class="page-intro">
    <div class="kicker">O meni</div>
    <h1>{{ about.heading }}</h1>
  </section>

  <section class="about-body">
    <p>{{ about.paragraph1 }}</p>
    <p>{{ about.paragraph2 }}</p>
    <p>{{ about.paragraph3 }}</p>
  </section>
</main>
